<div class="flex">
  <div class="card">
    <h1>Enregistrement</h1>
    <form action="">
      <div class="formContent">
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email">
      </div>
      <div class="formContent">
        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password">
      </div>
      <div class="formContent">
        <label for="Confirm">Confirm</label>
        <input type="text" id="Confirm" name="Confirm">
      </div>
      <button type="submit">submit</button>
    </form>
  </div>
</div>
